<%- include ('../partials/header')%>
<div class='about'>
	
		<h1 class='text-center'>About YelpCamp</h1>
		<h2>
			What is YelpCamp?
		</h2>
	<span class='xx'>YelpCamp</span> is a Camp Reviewing Website.People can Post their own camp sites with dynamic prices or can review other's camp sites . To get started Simply <a href='/register'>Sign Up</a>.YelpCamp was created using Node.js, Express, and MongoDB.This project is completed under Web development course taught by Colt Steele. 
		<hr>
		<h2>Features</h2>
		<ul>
			<li>Users can create, edit, and remove campgrounds</li>	
			<li>Users can review campgrounds once, and edit or remove their review</li>
			<li>More features coming soon!</li>	
		
		</ul>
		
</div>

<%- include ('../partials/footer')%>