<%- include ('../partials/header')	%>
<div class='container'>
	<div class='row '>
		<h1 style='text-align:center;'>Create A New Campground</h1>
		<div style='width:30% ; margin:25px auto'>
		<form method='post' action='/campgrounds'>
			<div class='form-group'>
				<input type='text'class='form-control' placeholder='Name' name='name'>
			</div>
			<div class='form-group'>
				<input type='number'class='form-control' placeholder='Price' name='price' min='0'>
			</div>
			<div class='form-group'>
				<input type='text'class='form-control' placeholder='ImageUrl' name='image'>
			</div>
			<div class='form-group'>
				<input type='text'class='form-control' placeholder='Add Description' name='description'>
			</div>
			<div class='form-group'>
				<button class='form-control btn btn-primary '>Submit!</button>
			</div>
			
		</form>
			<a href='/campgrounds'>Go Back!</a>
			
		</div>
	
		
	</div>

	
</div>	

<%- include ('../partials/footer')	%>
